.machine{
    height: 60vh;
    width: 120vh;

    display: flex;
    border: solid black;
    background-color: blueviolet;
}

.slot{
    
    text-align: center;
    margin: 20px;
    height: 42vh;
    width: 28vh;
    border: dotted black;
    background-color: rgb(19, 18, 18);
}

